.darkTheme {
    color: #fff !important;
    background-color: #424242 !important;
}

.bold {
    font-weight: bold !important;
}

.MuiTableCell-sizeSmall {
    padding: 6px 19px 6px 16px !important;
}